.stats {
    font-size: 1.25rem;
}

.stats h3 {
    font-size: 1.5rem;
}

.table {
    display: flex;
    flex-direction: column;
}

.table-row {
    width: 100%;
    display: flex;
}

.table-item {
    flex: 1;
    margin: 0 1rem 1rem 0;
}

.table-item h3 {
    margin: 0;
}
