.enterprise {
    font-size: 1.25rem;
}

.enterprise h3 {
    border-bottom: 1px solid gray;
}

.stats section {}

.points {
    margin: 0 1rem 1rem 0;
}

.table {
    display: flex;
    flex-direction: column;
}

.table-row {
    width: 100%;
    display: flex;
}

.table-row:nth-child(odd) {
    background-color: gainsboro;
}

.table-row.head {
    background-color: unset;
}

.table-item {
    flex: 1;
    margin: 0.25rem 0.125rem;
}

.table-item.number {
    text-align: end;
}

.table-item h4 {
    margin: 0;
}
