.story {
    display: flex;
    height: 100%;
    margin-bottom: 5rem;
}

.table-of-contents {
    min-width: 10rem;
    display: flex;
    flex-direction: column;
}

.chapter p {
    max-width: 40rem;
}

.story h4 {
    margin-top: 0;
}
