.beginning {
    height: 100%;
}

.compact-header {
    margin: 0 0.5rem 0.5rem 0;
}

.industry-grid {
    display: flex;
    flex-wrap: wrap;
}

.industry-item {
    margin: 0 1rem 1rem 0;
}

.story {
    display: flex;
    height: 100%;
}

.table-of-contents {
    min-width: 10rem;
    display: flex;
    flex-direction: column;
}

.chapter p {
    max-width: 40rem;
}
