.upgrade-view {
    display: flex;
}

@media (min-width: 464px) {
    .upgrade-view-panel *:first-child {
        margin-top: 0;
    }
}

@media (max-width: 463px) {
    .upgrade-view {
        flex-direction: column;
    }
}

.upgrade-grid {
    display: flex;
    flex-wrap: wrap;
}

.upgrade-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0.5rem 0.5rem 0;
    min-width: 7rem;
}

.upgrade-grid-item-stats {
    display: flex;
    flex-direction: column;
}

.upgrade-cost {
    margin: 0 0.5rem 0.5rem 0;
}

.upgrade-grid-item-header {
    margin: 0 0.5rem 0.5rem 0;
}

.upgrade-grid-item button {
    margin: 0 0.5rem 0.5rem 0;
}

.upgrade-time-remaining {
    font-size: 0.75rem;
}

.upgrade-purchase-container {
    display: flex;
}
